{% extends "layout.html" %}
{% block content %}
  <div class="d-flex justify-content-between pb-3">
    <img class="w-75 mx-auto d-block" src="{{ url_for("static", filename="images/text/banner.png") }}">
  </div>
  <div class="py-4"></div>
  <!-- THIS IS A REPEATING CARD -->
  <div class="row">
    <div class="col-12 col-lg-6 p-2">
      <div class="card">
        <h4 class="card-header"> COURSE TITLE </h4>
        <div class="card-block p-2">
          <ul class="my-auto list-unstyled">
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Dept:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Course:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Campus:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Posted:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Expires:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-end pt-2">
            <a href="#" class="btn btn-success px-3"> View posting </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-2">
      <div class="card">
        <h4 class="card-header"> COURSE TITLE </h4>
        <div class="card-block p-2">
          <ul class="my-auto list-unstyled">
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Dept:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Course:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Campus:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Posted:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
            <li class="row">
              <div class="col-4 col-md-3 me-lg-0">
                <p class="my-0"><u>Expires:</u></p>
              </div>
              <div class="col-8 col-md-9">
                <p class="my-0"> # </p>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-end pt-2">
            <a href="#" class="btn btn-success px-3"> View posting </a>
          </div>
        </div>
      </div>
    </div>
  
{% endblock content %}